*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body {
width: 768px;
height: 1024px;
}


.content{
   width: 320px;
   height: 1024px;
   border: 1px solid #000;
}

.content-image{
   width: 320px;
   height: 116px;
   padding: 23px 24px 0;
   border: 1px solid #000;;
}

.content-image-1{
   width: 40px;
   height: 40px;
   
   border: 1px solid #000;
}

.content-image-2{
   width: 97px;
   height: 51px;
   
   border: 1px solid #000;
}

.content-image-3{
   width: 40px;
   height: 40px;
   
   border: 1px solid #000;
}


.content-nav{
   width: 320px;
   height: 876px;
   padding: 0 0 0 24px;
   border: 1px solid #000;
}

.content-nav-h1{
   size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   margin: 4px 0 0 0;
   color: #7E7E82;
}
.content-nav-nav-ul{
   line-height: 32px;
   size: 16px;
   letter-spacing: -0.2px;
}

.content-footer{}

.content-footer-img {}

.content-footer-img-1{}
.content-footer-img-1__ICON{}

.content-footer-img-2{}
.content-footer-img-2__ICON{}

.content-footer-img-3{}
.content-footer-img-3__ICON1{}
.content-footer-img-3__ICON2{}

.content-footer-nav{}
.content-footer-text{}
.content-footer-lang{}







